img {
    width: 50%;
}

h5 {
    color: black;
    text-align: center;
}

.pokemon-card {
    height: 200px;
    width: 200px;
    background-color: white ;
    margin-right: 3rem;
    text-transform: capitalize;
}