
span {
    color: white
}

input {
    position: relative;
    caret-color: #FF4500;
    box-sizing: border-box;
    width: 80%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.6;
}

.searchbar {
    padding: 3rem;
}